CREATE DATABASE QUANLYCUAHANGTIMO

GO

USE QUANLYCUAHANGTIMO

GO

CREATE TABLE VITRI(
	MAVITRI INT IDENTITY(1,1) PRIMARY KEY,
	TENVITRI NVARCHAR(100)
)

GO

CREATE TABLE BANAN
(
	MABANAN INT IDENTITY(1,1) PRIMARY KEY,
	TENBAN NVARCHAR(50),
	VITRI INT FOREIGN KEY (VITRI) REFERENCES VITRI(MAVITRI),
	TRANGTHAI nvarchar(30) DEFAULT N'Trống'
) 

GO

CREATE TABLE CHUCVU(
	MACHUCVU INT IDENTITY(1,1) PRIMARY KEY,
	TENCHUCVU NVARCHAR(50)
)

GO

CREATE TABLE NHANVIEN
(
	MANV INT IDENTITY(1,1) PRIMARY KEY,
	TENNV NVARCHAR(100),
	NGAYSINH DATE,
	GIOITINH nvarchar(5) DEFAULT N'Nam',--1:NAM , 0:NU
	NGAYVAOLAM DATE,
	MACHUCVU INT FOREIGN KEY (MACHUCVU) REFERENCES CHUCVU(MACHUCVU),
	SODIENTHOAI VARCHAR(10),
	DIACHI NTEXT,
	TRANGTHAI BIT DEFAULT 1
)

GO


CREATE TABLE LOAITAIKHOAN(
	MALOAI INT IDENTITY(1,1) PRIMARY KEY,
	TENLOAI NVARCHAR(50)
)

CREATE TABLE TAIKHOAN
(
	TENDANGNHAP VARCHAR(50) PRIMARY KEY,
	MATKHAU VARCHAR(50),
	MANV int foreign key (MANV) references NHANVIEN(MANV),
	LOAITAIKHOAN INT FOREIGN KEY(LOAITAIKHOAN) REFERENCES LOAITAIKHOAN(MALOAI), --1:NHAN VIEN BAN HANG 0:QUAN LY (ADMIN) 
	TRANGTHAI BIT DEFAULT 1
)

GO




CREATE TABLE DANHMUC
(
	MADANHMUC INT IDENTITY(1,1) PRIMARY KEY,
	TENDANHMUC NVARCHAR(50)
)

GO

CREATE TABLE SANPHAM
(
	MASANPHAM VARCHAR(10) PRIMARY KEY,
	TENSANPHAM NVARCHAR(100),
	DANHMUC INT FOREIGN KEY(DANHMUC) REFERENCES DANHMUC(MADANHMUC),
	SOLUONG INT,
	DONGIA FLOAT,
	MOTA NTEXT,
	TRANGTHAI BIT DEFAULT 1
)

GO

CREATE TABLE KHACHHANG
(
	MAKH VARCHAR(10) PRIMARY KEY,
	TENKH NVARCHAR(100),
	SODIENTHOAI VARCHAR(10),
	TRANGTHAI BIT DEFAULT 1
)

GO

CREATE TABLE KICHTHUOC 
(
	MAKICHTHUOC INT IDENTITY(1,1) PRIMARY KEY,
	TENKICHTHUOC NVARCHAR(50),
	GIA FLOAT,
	TRANGTHAI BIT DEFAULT 1
)

GO

CREATE TABLE GIAMGIA
(
	MAGIAMGIA VARCHAR(20) PRIMARY KEY,
	TENGIAMGIA NVARCHAR(255),
	DONGIA INT DEFAULT 0
)

GO
CREATE TABLE HOADON
(
	MAHD VARCHAR(10) PRIMARY KEY,
	NGAYLAPHD DATETIME,
	MANHANVIEN INT FOREIGN KEY(MANHANVIEN) REFERENCES NHANVIEN(MANV),
	MAKHACHHANG VARCHAR(10) FOREIGN KEY REFERENCES KHACHHANG(MAKH),
	MAGIAMGIA VARCHAR(20) FOREIGN KEY (MAGIAMGIA)REFERENCES GIAMGIA(MAGIAMGIA),
	SOBAN INT FOREIGN KEY(SOBAN) REFERENCES BANAN(MABANAN),
	TRANGTHAITHANHTOAN BIT DEFAULT 0,
	TRANGTHAI BIT DEFAULT 1
)

GO

CREATE TABLE CHITIETHOADON
(
	MAHD VARCHAR(10) FOREIGN KEY (MAHD) REFERENCES HOADON(MAHD),
	MASP VARCHAR(10) FOREIGN KEY (MASP) REFERENCES SANPHAM(MASANPHAM),
	KICHTHUOC INT FOREIGN KEY(KICHTHUOC) REFERENCES KICHTHUOC(MAKICHTHUOC),
	SOLUONG INT DEFAULT 1,
	THANHTIEN FLOAT,
	TRANGTHAI BIT DEFAULT 1,
	PRIMARY KEY(MAHD,MASP)
)
go
Insert LOAITAIKHOAN values(N'Nhân viên quản lý')
go
Insert LOAITAIKHOAN values(N'Nhân viên bán hàng')

go
Insert CHUCVU values(N'Quản lý')
go
Insert CHUCVU values (N'Bán hàng')
go
Insert CHUCVU values (N'Bảo vệ')
go
Insert NHANVIEN(TENNV,NGAYSINH,GIOITINH,NGAYVAOLAM,MACHUCVU,SODIENTHOAI,DIACHI)
values(N'Nguyễn Đình Anh','11/01/2003',N'Nam',GETDATE(),1,113,N'TP.HCM')
go
Insert NHANVIEN(TENNV,NGAYSINH,GIOITINH,NGAYVAOLAM,MACHUCVU,SODIENTHOAI,DIACHI)
values(N'Nguyễn Tấn Phước','2003/10/22',N'Nam',GETDATE(),1,113,N'TP.HCM')
go
Insert TAIKHOAN(TENDANGNHAP,MATKHAU,MANV,LOAITAIKHOAN) values('admin','25d55ad283aa400af464c76d713c07ad',1,1)
go
Insert TAIKHOAN(TENDANGNHAP,MATKHAU,MANV,LOAITAIKHOAN) values('staff','25d55ad283aa400af464c76d713c07ad',2,2)

GO
insert into VITRI(TENVITRI)
values (N'Bên trong tầng 1')
GO
insert into VITRI(TENVITRI)
values (N'Bên ngoài tầng 1')
GO
insert into VITRI(TENVITRI)
values (N'Bên trong tầng 2')
GO
declare @i int = 1
while @i<=10
begin
	insert BANAN(TENBAN, VITRI)
	values(N'Bàn '+CAST(@i as nvarchar(1000)), 1) 
	SET @i=@i+1
END
GO
declare @i int = 11
while @i<=20
begin
	insert BANAN(TENBAN, VITRI)
	values(N'Bàn '+CAST(@i as nvarchar(1000)), 2) 
	SET @i=@i+1
END
GO
declare @i int = 21
while @i<=30
begin
	insert BANAN(TENBAN, VITRI)
	values(N'Bàn '+CAST(@i as nvarchar(1000)), 3) 
	SET @i=@i+1
END
GO
declare @i int = 31
while @i<=40
begin
	insert BANAN(TENBAN, VITRI)
	values(N'Bàn '+CAST(@i as nvarchar(1000)), 4) 
	SET @i=@i+1
END

